body {
  line-height: 1.5;
  font-size: 16px;
  padding: 0px 8px;
  margin: 50px auto;
  max-width: 650px;
}

a {
  padding-right: 4px;
  color: blue;
}

a:visited {
  color: blue;
}

a:active {
  color: red;
}

footer {
  line-height: inherit;
  padding: 16px 0px;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
  border: .1px solid rgba(0, 0, 0, 0.1);
  margin-top: 24px;
}